.editpage-container input {
  width: 50vw;
  border-radius: 0%;
}
.editpage-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.edit-form {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0%;
}
.buttonContainer  button{
  margin: 2%;
}

.editpage-container label {
  margin-left: 2%;
  font-weight: 200;
  color: black;
 
}
.noEdit {
  opacity: 100%;
  background-color: gray;
}
 
.NameContact,
.EmailContact {
  display: flex;
  flex-direction: column;
}
.NameContact label,
.EmailContact label {
  text-align: left;
  margin-left: 3%;
  
}

.edit-input-container{
 
  margin: 1%;
  display: flex;
  flex-direction: column;
}
.edit-input-top{
 
  display: flex;
  flex-direction: column;
  justify-content:
  center ;
  margin: 0%;
}
.edit-input-top input{
  margin-top: -0.2%;
}
.edit-input-bottom{
 
  min-height: 1rem;
  max-height: 1.5rem;
  max-width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
  margin-top: -2%;
  color: red;
}
@media (max-width: 769px) {
  .editpage-container input {
    width:100%;
    margin-left: 0%;
    border-radius: 0%;
     margin-top: 2%;
  }
  .editpage-container {
    min-height: 100%;
 width:100%;
    display: flex;
    flex-direction: column;
  }
.editpage-container label {
  text-align: left;
  margin-left: 0%;
 
}
.buttonContainer  button{
  margin: 3%;
  max-width: 35%;
}

}
.errorContainer{
  height: 1rem;
}
.errorContainer small{
  color: red;
  position: relative;
  margin-bottom: -20% !important;
}
