.bookingform {
  height: auto;
  justify-content: space-between;
   background: #E0E0E0 0% 0% no-repeat padding-box;
 
 
  display: flex;
  flex-wrap: wrap;

  margin: auto;

  width: 100%;
  margin-bottom: 4%;
  margin-top: 4%;
  padding: 2%;
}
 
.disabled {
  border: 2px solid grey;
  opacity: 60%;
 
}
.carbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  justify-content: left;
  align-items: center;
  width: 80vw;
  height: auto;
}
.timeContainerService{
 
position: relative;
margin-top: -1.2rem;
 
}
.surfaceContainer {
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
 
  height: 2rem;
  position: relative;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
   
  
}
.surfaceContainer p {
  margin-left: -16%;
  right: 0%;
  position: relative;
}
.surfaceContainer input {
  position: relative;
  left: -14%;
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 0%;
}
.priceValues{
  display: flex;
     
  margin-left: -1vw;
  justify-content: baseline;
  align-items: baseline;
}
.priceRowService{
  
  margin-bottom: 1.8%;
 
}
@media (min-width: 769px) {
  .checkBoxSurface {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .checkBoxSurface p{
    font-size: medium;
  }
  .addNewCarButtonContainer strong {
    position: absolute;
    top: -0.5rem;
    margin-left: 0.6rem;
  }
  .priceRowService {
    position: relative;
    margin-top: 1%;
   
  
  }
  .priceRowServiceContainer{
    background-color: red;
    
  }
}
.checkBox input[type="checkbox"]:checked {
  background: #024126;
}
@media (max-width: 769px) {
  .checkBoxSurface {
  
 
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   
    
  }
  .surfaceContainer{
   
    width: 90vw;
    
    display: flex !important;
    flex-direction: column !important;
    justify-content: baseline !important;
    align-items: baseline !important;
  }
  .surfaceContainer p {
    position: relative;
    left: -58%;
    padding: 0%;
    
  }
  
  .surfaceContainer input {
    position: relative;
     display: flex;
    left: -42%;
  margin: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  .carbox-container {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    width: auto;
    height: auto;
  }
  .bookingform {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
  }
  .bookingform-left {
    display: flex;
    flex-direction: column;
    background-color: yelow;
  }
  .bookingform-right {
    margin-top: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.carbox-container_null {
  height: auto;
  width: auto;
}
.bookingform a {
  font-size: clamp(0.5rem, 1rem, 2rem);
 
}
.bookingform input {
  margin-left: 0%;
 
}
.bookingform h2 {
  font-family: "Josefin Sans", sans-serif;
}
.bookingform-left {
  width: 60%;
  display: flex;
  flex-direction: column;
 
}
.bookingform-right {
  margin-top: 15%;

  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonrow{
 
  width: 31%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.buttonrow button {
  position: relative;
  
  top: -20px;
}

.addnewCarButton img {
  position: relative;
  margin-top: 2%;
  height: 2rem;
  width: 2rem;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 100%;
  margin-bottom: 10px;
}
.addNewCarButtonContainer strong {
  position: relative;

  left: -10px;
  letter-spacing: 2px;
  font-weight: normal;
}
.addnewCarButtonLoggedOut img {
  height: 2rem;
  width: 2rem;
  position: relative;
  left: 0vw;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 100%;
}
.addNewCarButtonContainerLoggedOut strong {
  position: relative;
  font-weight: normal;
  letter-spacing: 2px;
  left: 0vw;
}

.bookingform select {
  width: 31%;
  border: 2px solid black;
  background-color: white;
}
.completeCareSection{
 padding-top: 2%;
 padding-bottom: 2%;
  display: flex;
  height: 10%;
  width: 50%;
  justify-content: flex-start;
  align-items:flex-start;
}
.leftCompleteCare{
  width: 10%;
 margin-left: -1%;
  display: flex;
  justify-content:center;
  align-items: flex-start;
}
.leftCompleteCare input{
  padding: 0%;
  margin: 0%;
  width: 40%;
  margin-top: -30%;
}
.rightCompleteCare{
  width: 140%;
  line-height: 100%;
  
}
@media (max-width: 769px) {
    .bookingform{
      width: 100%;
      margin: auto;
      position: relative;
      margin-left: -2% !important;
      margin-bottom: 4%;
    }
  .bookingform select {
    width: 100%;
    margin-left: 2%;
  }
  .bookingform input {
    margin-left: 2%;
    width: 50vw;


  }
  .addnewCarButtonLoggedOut img {
    height: 6vw;
    width: 6vw;
    position: relative;
    left: 0vw;
    border: 2px solid black;
   
    padding: 1rem;
    border-radius: 100%;
  }
  .addNewCarButtonContainerLoggedOut strong {
    position: relative;
    font-weight: normal;
    letter-spacing: 2px;
    left: 1vw;
  }
  .addnewCarButton img {
     
    height: 6vw;
    width: 6vw;
    position: relative;
   
    left: 3vw;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 100%;
  }
  .addNewCarButtonContainer strong {
    position: relative;
    font-weight: normal;
    letter-spacing: 2px;
    left: 1vw;
    top: -0.5rem;
  }
  .buttonrow {
    width: 55vw;
    display: flex;
    justify-content: center;

    align-items: center;
    margin-bottom: -30%;
    
  }
  .buttonrow button {
    width: 35vw;
    position: relative;
    
    font-size: 3.5vw;
  }

  .carbox-container {
    width: 80vw;
    margin-left: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bookingform label {
    position: relative;
    margin-left: 2%;
  }
  .priceRowService {
  
    width: 90vw;
    padding-top: 2%;
    padding-bottom: 2%;
   
  }
  .timeContainerService{
 
position: relative;
display: flex;
flex-direction: column;
margin-top: -0.5em;
justify-content: baseline;
 
 
}
.timeContainerService label{
 position: relative;
 margin-bottom: -1rem;
}
.durationContainerService{
 
  position: relative;
  margin-top: -0.5rem;

}
.durationContainerService select{
  min-width: 105%;
  margin-top: -0.5rem;
}
.surfaceContainer {
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  position: relative;
 max-width: 170%;
  margin-left: 0%;
  margin-top: 1rem;
 

}
.surfaceContainer input{
  position: relative;
  margin-left: 30%;
  margin-right: 2%;
 
}
.surfaceContainer p{
  margin-left:2%;
  width: 90vw;
 
}
.carbox-container {
    display: flex;
    flex-direction: column;

    padding: 0rem;
    width: auto;
    height: auto;
  }
  .completeCareSection{
 
 padding-top: 2%;
 padding-bottom: 2%;
  display: flex;
  height: 10%;
  min-width: 150%;
  justify-content: flex-start;
  align-items:flex-start;
}
.leftCompleteCare{
  width: 50%;
 
  display: flex;
  justify-content:center;
  align-items: flex-start;
  margin-right: 3%;
}
.leftCompleteCare input{
  padding: 0%;
  margin: 0%;
  min-width: 100%;
  margin-top: -10%;
}
.rightCompleteCare{
  width: 100%;
  line-height: 100%;
  
}
 
}
.priceRowService p{
  margin-left: 2%;
  margin-top: 0%;
  font-size: medium;
  margin-right: 3%;
 
}
