/* @import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap'); */

.imagecontainer {
  width: 100%;
  height: 50vh;
 
 
  
 margin-bottom: 2%;
 
 justify-content:baseline ;
 position: relative;
  text-align: right;
  
  
}
.imagefield {
 width: 100vw;
height: 100%;

}
    
.slidertext{
  
/* font-family: 'Exo', sans-serif; */
 font-family: Merienda;
    display: flex;
    flex-wrap: wrap;
    font-size:  clamp(200%,6vh,400%);
    position: absolute;
  top: 8vh;
  left: 57%;
  max-width: 50vw;
  color: rgb(218, 99, 30);
  letter-spacing: 10px;
  font-weight: bold;
}
.sliderSubText {
  position: absolute;
  font-family: Merienda;
  margin-top: 1%;
  top: 26vh;
  color: rgb(218, 99, 30);
  left: 43%;
  font-size:  clamp(100%,4vh,200%);
}
@media(max-width:769px){
    .imagefield {
        width: 100vw;
        height: 100%;
    
         
      }
      .imagecontainer {
        width: 100%;
        height: 38vh;
       margin-top: 0%;
           margin-left:0%;
   
       
       justify-content:baseline ;
       position: relative;
        text-align: center;
        
        
      }
      .slidertext{
  
/* font-family: 'Exo', sans-serif; */
 font-family: Merienda;
    display: flex;
    flex-wrap: wrap;
    font-size:  clamp(150%,2vh,250%);
    position: absolute;
  top:0vh;
  left: 50%;
  max-width: 40vw;
  color: rgb(218, 99, 30);
  letter-spacing: 2px;
  font-weight: bold;
}
.sliderSubText {
  position: absolute;
  top: 18vh;
  color: rgb(218, 99, 30);
  left: 44%;
  font-size:  clamp(50%,3vh,100%);
 
}
        
}