.circularcompwithtext {
  width: 28vw;
  min-height: 80vh;
  max-height: 90vh;
  height: 86vh;
  min-width: 30vw;
  border: 1px solid rgb(252, 249, 249);
 
  background-color: #faf5f5;
  border-radius: 2rem;
  margin: auto;
  margin-bottom: 2%;
}
.paragraphCircText{
  margin: 5% 5% 0% 5%;
   margin-bottom:5%;
}
 
.homeimagecontainer{
  display: flex;
  justify-content:center ;
  align-items: center;
  margin: 2%;
}
.circularcompwithgradient {
  

  border: 1px solid rgb(218, 213, 213);

  background-color: #faf5f5;
  height: 300px;
  width: 300px;
  margin: auto;
  color: black;
  border-radius: 100%;
  margin-bottom: 2%;
  border: 1px solid rgb(151, 147, 147);
}
 .paragraph {
 
 height: 80%;
 width: 80%;

 }
 .paragraph p{
   font-size: 100%;
 }
.contentAboutUs {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}

.homeimagecontainer img {
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .homeimagecontainer {
    margin-top: 2%;
  }
  .homeimagecontainer img {
    margin-top: 5%;
    height: 35%;
    width: 35%;
  }
  .circularcompwithtext {
    width: 100vw;
    min-height: 70vh;
    height: fit-content;
   margin-bottom: 0%;
   padding-bottom: 0%;
    margin-top: 1rem;
  }
  
}
