.notificationContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-bottom: 2%;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #3b3636;
 height: fit-content;
 min-height: 3rem;
 max-height:3rem;
}
.notificationContainer p {
   
  font-size: 120%;
  font-weight: bolder !important;
  color: #ffffff;
}
 
 
.notificationContainer strong {
  background-color: #b00f00;
  color: rgb(255, 255, 255);
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
 margin-left: 2%;
  cursor: pointer;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  letter-spacing: 3px;
}
@media (max-width: 768px) {
  .notificationContainer {
    height: fit;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    justify-content: center;
    align-items: center;
    min-height: 3rem;
    max-height: 3rem;
  }
  .notificationContainer p {
    font-size: 62%;
    width: fit-content;
    font-weight: 600;
    min-width: 1rem;
    text-align: center;
    line-height: 200%;
  }
 

  .notificationContainer strong {
    background-color: #b00f00;
    margin-right: 1%;
   font-size:small;
    cursor: pointer;
    letter-spacing: 0px;
   padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  }
}
