/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap'); */
.confirmationPageContainer{
   
   
}
.successContainer{
   
     height: 100vh;
        display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.failureContainer{
 
 height: 100vh;
        display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.imagecontainerConfirm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.imagecontainerConfirm img{
    
height: 15vw;
width: 15vw;
}
.confirmationHeader h1{
    text-align: center;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 3vw;
   font-weight: bold;
}
.confirmationMessage{
    text-align: center;
    margin-top: -1%;
}
.confirmationMessage a{
text-decoration: none;
    color: orangered;
}
.exploreMore{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.exploreMore button{
    margin-top: 10%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white ;
    border: 1px solid black;
}
.exploreMore button:hover{
    background-color: rgb(245, 247, 241);
}
.exploreMore p{
    font-size: 0.9vw;
    color: rgb(0, 0, 0);
}
@media(max-width:769px){

.successContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
     
}
.failureContainer{
       display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: bottom;
}   
    .imagecontainerConfirm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}   
.imagecontainerConfirm img{
    
height: 35vw;
width: 35vw;
}
.confirmationHeader h1{
    text-align: center;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 10vw;
   font-weight: bold;
}
.confirmationMessage{
    text-align: center;
    margin-top: -8%;
}
.confirmationMessage a{
text-decoration: none;
    color: orangered;
}
.exploreMore button{
    margin-top: 10%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white ;
    border: 1px solid black;
}
.exploreMore button:hover{
    background-color: rgb(245, 247, 241);
}
.exploreMore p{
    font-size: 3vw;
    color: rgb(0, 0, 0);
}
}